
.navRow {
    background-color: #ECEEF6;
    border: solid 1px #000;
    margin-bottom: 20px;
}

.navTitle {    
    font-size: 30px;
}

.main {
    background-image: linear-gradient(to right,white, #b20000 , #b20000);
    font-family: 'Times New Roman', Times, serif;
}

.content {
    opacity: 0.8;
}
